<div class="container">
    <script>
        myFunction = (id) => {
            console.log("active!!!!!!!")
            if (window.confirm("Bạn chắc chắc muốn xóa đối tượng này không?")) {
                window.open(`http://localhost:3000/${id}/delete`, '_self');
            }
        }
    </script>
    <br>
    <div style="display: flex; flex-director: row; justify-content: space-between">
        <h2>List Books</h2>
        <a href="/new" class="btn btn-primary">New Book + </a>
    </div>
    <br>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>BookCode</th>
                <th>Title</th>
                <th>Author</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each book}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>
                    <input type="checkbox" {{#if this.approved}} checked {{/if}} />
                </td>
                <td>
                    <a href="/{{this.id}}/edit" class="btn btn-success">Edit</a>
                    <button class="btn btn-danger" onclick="myFunction({{this.id}})">Delete</button>
                </td>
                {{!-- <td class="action">
                    <p class="action">Nover</p>
                </td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!--
<!--Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cảnh báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn chắc chắc muốn xóa đối tượng này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/{{this.id}}/delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div> --}}